version: 2.4.2.{build}

os: Visual Studio 2019

assembly_info:
  patch: true
  file: OpenTween\Properties\AssemblyInfo.cs
  assembly_file_version: '{version}'

build:
  project: OpenTween.sln
  verbosity: minimal

cache:
  - ./packages/

init:
  - git config --global core.autocrlf true

before_build:
  - nuget restore
  - choco install opencover.portable

test_script:
  - OpenCover.Console.exe -register -target:"%xunit20%\xunit.console.exe" -targetargs:".\OpenTween.Tests\bin\Debug\net472\OpenTween.Tests.dll -noshadow -appveyor" -filter:"+[OpenTween*]* -[OpenTween.Tests]*" -excludebyfile:"*.Designer.cs" -skipautoprops -hideskipped:All -returntargetcode -output:coverage.xml

after_test:
  - npm install codecov --save
  - ./node_modules/.bin/codecov -f coverage.xml

  - del %APPVEYOR_BUILD_FOLDER%\OpenTween\bin\Debug\OpenTween.pdb
  - 7z a OpenTween_dev-%APPVEYOR_BUILD_NUMBER%.zip %APPVEYOR_BUILD_FOLDER%\OpenTween\bin\Debug\*

artifacts:
  - name: OpenTween.zip
    path: OpenTween_dev-$(APPVEYOR_BUILD_NUMBER).zip

# vim: et fenc=utf-8 sts=2 sw=2 ts=2
